{
  "env": {
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": ["flowtype", "import"],
  "rules": {
    "camelcase": "off",
    "no-else-return": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off"
  }
}
