language: node_js
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.6.0
  - export PATH=$HOME/.yarn/bin:$PATH
cache:
  yarn: true
script:
  - yarn run lint
  - yarn run format:check
  - yarn run test:ci
  - yarn run coveralls
  - yarn run build