@import 'poe-components-item/themes/poe/colors.scss';

#available_mods {
  display: table;
  width: 100%;

  .mods-table {
    .mod-stats {
      color: $mod_stats;

      &.master {
        color: $crafted_color;
      }

      &.enchantment {
        color: $enchant_color;
      }
    }

    h4,
    h5 {
      color: inherit;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    h4 {
      font-size: 1.3em;
    }

    h5 {
      font-size: 1.05em;
    }

    .flex-table {
      margin-left: 1px;
      background-color: #000001;

      .flex-table-head {
        border-bottom: 1px solid grey;
        .flex-table-cell {
          font-weight: bold;
        }
      }

      .flex-table-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 95%;

        .flex-table-cell {
          flex-grow: 0;
          flex-shrink: 0;
          margin: 2px 5px;
        }

        .ilvl {
          width: 2em;
          text-align: right;
        }

        .stats {
          flex: 1;
        }

        .spawn-chance {
          text-align: right;
          width: 4em;
        }
      }
    }
  }

  #affixes {
    display: table-row;
    width: 100%;
  }

  .prefixes,
  .suffixes {
    width: 49%;
    display: table-cell;
    vertical-align: top;
  }

  .prefixes {
    border-right: 1px solid white;
  }

  .suffixes {
    border-left: 1px solid white;
  }

  .ReactTable {
    &.grouped {
      cursor: pointer;
    }

    .rt-td,
    .rt-th {
      margin: 0;
      padding: 0;
    }

    .rt-td {
      vertical-align: top;
    }

    .not_rollable {
      text-decoration: line-through;
    }

    .disabled .stats {
      text-decoration: line-through;
    }
  }
}
