.languages .dropdown-menu {
  .locale-icon:after {
    content: ' ' attr(title);
    font-size: 18px;
    vertical-align: middle;
  }
}

.locale-icon {
  display: inline-block;
  height: 1em;

  img {
    height: 100%;
  }
}
