// mods
$mod_stats: #8888ff;
$explicit_color: $mod_stats;
$implicit_color: $mod_stats;
$utility_color: $mod_stats;

$craft_color: #b8daf2;
$crafted_color: $craft_color;
$enchant_color: $craft_color;

$cosmetic_color: #aa9e82;

$unmet_color: red;

$property_default: white;
$property_augmented: $mod_stats;

$property_physical_damage: $property_default;
$property_chaos_damage: #d02090;
$property_cold_damage: #366492;
$property_fire_damage: #960000;
$property_lightning_damage: gold;

// extended
$prefix_color: #7aaff1;
$suffix_color: #ec7676;
