@import 'bootswatch/dist/cyborg/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/cyborg/bootswatch';
@import '../poe/colors.scss';

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #a38d6d;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
  color: #a38b63;
}

a:hover {
  color: #fff;
}

.btn {
  margin: 0 3px;
}

.nav .nav-item {
  &.active .nav-link {
    color: #fff;
  }

  .nav-link {
    color: rgba($color: #fff, $alpha: 0.5);
  }
}
