// mods
$mod_stats: #8888ff;
$explicit_color: $mod_stats;
$implicit_color: $mod_stats;
$utility_color: $mod_stats;

$craft_color: #b8daf2;
$crafted_color: $craft_color;
$enchant_color: $craft_color;

$cosmetic_color: #aa9e82;
