.poe-item {
  /*body*/
  line-height: 1.3;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  background-color: black;
  color: #7f7f7f;
  display: inline-block;
  font-variant: small-caps;
  position: relative;
  text-align: center;
  min-width: 400px;
}
.poe-item .separator {
  height: 7.91075px;
}
.poe-item header {
  height: 33px;
  font-size: 19px;
  line-height: 1em;
}
.poe-item header .item-name {
  padding: 7.23428px 30px;
}
.poe-item header.double-line {
  height: 53px;
}
.poe-item header.double-line .item-name {
  padding: 5.18323px 45px 2.59162px 45px;
}
.poe-item header.double-line .item-name.type-line {
  padding: 2.59162px 45px 5.18323px 45px;
}
.poe-item header.double-line .name-left,
.poe-item header.double-line .name-right {
  height: 53px;
  width: 43px;
}
.poe-item header .name-left,
.poe-item header .name-right {
  display: block;
  position: absolute;
  top: 0px;
  width: 28px;
  height: 33px;
}
.poe-item header .name-left {
  left: 0px;
}
.poe-item header .name-right {
  right: 0px;
}
.poe-item.normal header {
  background-image: url(./header-normal.png);
}
.poe-item.normal header .name-left {
  background-image: url(./header-normal-name-left.png);
}
.poe-item.normal header .name-right {
  background-image: url(./header-normal-name-right.png);
}
.poe-item.normal header .item-name {
  color: #c8c8c8;
}
.poe-item.normal .separator {
  background-image: url(./separator-normal.png);
}
.poe-item.magic header {
  background-image: url(./header-magic.png);
}
.poe-item.magic header .item-name {
  color: #8888ff;
}
.poe-item.magic .separator {
  background-image: url(./separator-magic.png);
}
.poe-item.rare header {
  background-image: url(./header-rare.png);
}
.poe-item.rare header.double-line {
  background-image: url(./header-rare-double.png);
}
.poe-item.rare header .item-name {
  color: #ffff77;
}
.poe-item.rare header .name-left {
  background-image: url(./header-rare-name-left.png);
}
.poe-item.rare header .name-right {
  background-image: url(./header-rare-name-right.png);
}
.poe-item.rare .separator {
  background-image: url(./separator-rare.png);
}
.poe-item.unique header {
  background-image: url(./header-unique.png);
}
.poe-item.unique header.double-line {
  background-image: url(./header-unique-double.png);
}
.poe-item.unique header .item-name {
  color: #af6025;
}
.poe-item.unique .separator {
  background-image: url(./separator-unique.png);
}
.poe-item .value {
  color: white;
}
.poe-item .value.augmented,
.poe-item .explicit,
.poe-item .implicit {
  color: #8888ff;
}
