@import './colors.scss';

.poe-item {
  /*body*/
  line-height: 1.3;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  background-color: black;
  color: #7f7f7f;
  display: inline-block;
  font-variant: small-caps;
  position: relative;
  text-align: center;
  min-width: 400px;

  .separator {
    height: 7.91075px;
  }

  header {
    height: 33px;
    font-size: 19px;
    line-height: 1em;

    .item-name {
      padding: 7.23428px 30px;
    }

    &.double-line {
      height: 53px;

      .item-name {
        padding: 5.18323px 45px 2.59162px 45px;

        &.type-line {
          padding: 2.59162px 45px 5.18323px 45px;
        }
      }

      .name-left,
      .name-right {
        height: 53px;
        width: 43px;
      }
    }

    .name-left,
    .name-right {
      display: block;
      position: absolute;
      top: 0px;
      width: 28px;
      height: 33px;
    }

    .name-left {
      left: 0px;
    }

    .name-right {
      right: 0px;
    }
  }

  &.normal {
    header {
      background-image: url(./header-normal.png);

      .name-left {
        background-image: url(./header-normal-name-left.png);
      }
      .name-right {
        background-image: url(./header-normal-name-right.png);
      }

      .item-name {
        color: #c8c8c8;
      }
    }

    .separator {
      background-image: url(./separator-normal.png);
    }
  }

  &.magic {
    header {
      background-image: url(./header-magic.png);

      .item-name {
        color: #8888ff;
      }
    }

    .separator {
      background-image: url(./separator-magic.png);
    }
  }

  &.rare {
    header {
      background-image: url(./header-rare.png);

      &.double-line {
        background-image: url(./header-rare-double.png);
      }

      .item-name {
        color: #ffff77;
      }

      .name-left {
        background-image: url(./header-rare-name-left.png);
      }
      .name-right {
        background-image: url(./header-rare-name-right.png);
      }
    }

    .separator {
      background-image: url(./separator-rare.png);
    }
  }

  &.unique {
    header {
      background-image: url(./header-unique.png);

      &.double-line {
        background-image: url(./header-unique-double.png);
      }

      .item-name {
        color: #af6025;
      }
    }

    .separator {
      background-image: url(./separator-unique.png);
    }
  }

  .value {
    color: white;
  }

  .value.augmented,
  .explicit,
  .implicit {
    color: #8888ff;
  }
}
