.fill-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: darkolivegreen;
  height: 100%;
  opacity: 0.4;
  transition: width 500ms, opacity 300ms ease-out;
  pointer-events: none;

  &.-enter,
  &.-appear,
  &.-exit-done {
    width: 0%;
  }

  &.-enter-active,
  &.-appear-active {
    width: 90%;
  }

  &.-enter-done {
    width: 100%;
  }

  &.-exit,
  &.-exit-active,
  &.-exit-done {
    opacity: 0;
  }
}

.fill-loading + * {
  z-index: 1;
}
