@import './poe/colors.scss';

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #a38d6d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #a38b63;
}

a:hover {
  color: #fff;
}

.augmented-value,
.mod .stats {
  color: $mod_stats;
}

.crafted-mod,
.mod.MasterMod .stats,
.mod.enchantment .stats {
  color: $craft_color;
}
