@font-face {
  font-family: 'FontinSmallCaps';
  src: url("./poe/font/fontin-smallcaps-webfont.woff") format("woff"); }

.poe-item {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  font-family: FontinSmallCaps, Verdana, Arial, Helvetica, sans-serif;
  font-size: calc(1.3em * 0.625);
  background-color: rgba(0, 0, 0, 0.8);
  color: #7f7f7f;
  display: inline-block;
  position: relative;
  text-align: center;
  min-width: 262.88032px;
  max-width: 742.39351px; }
  .poe-item .separator {
    height: 7.91075px;
    background-position: center;
    background-repeat: no-repeat; }
  .poe-item .lc {
    padding: 0px 6.08519px; }
  .poe-item .lc, .poe-item .descrText span, .poe-item .secDescriptionText span {
    display: inline-block;
    padding: 0px 10px; }
  .poe-item header {
    height: 33px;
    font-size: 19px;
    line-height: 1em; }
    .poe-item header.double-line {
      height: 53px; }
      .poe-item header.double-line.elder .name-left:after,
      .poe-item header.double-line.elder .name-right:after, .poe-item header.double-line.shaper .name-left:after,
      .poe-item header.double-line.shaper .name-right:after {
        height: 53px; }
      .poe-item header.double-line .name-left,
      .poe-item header.double-line .name-right {
        height: 53px;
        width: 43px; }
    .poe-item header.elder .name-left:after,
    .poe-item header.elder .name-right:after, .poe-item header.shaper .name-left:after,
    .poe-item header.shaper .name-right:after {
      width: 26px;
      height: 33px;
      content: ' ';
      display: block;
      top: 0px;
      position: absolute;
      background: none center no-repeat; }
    .poe-item header.elder .name-left:after, .poe-item header.shaper .name-left:after {
      left: 2px; }
    .poe-item header.elder .name-right:after, .poe-item header.shaper .name-right:after {
      right: 2px; }
    .poe-item header.elder .name-left:after,
    .poe-item header.elder .name-right:after {
      background-image: url(./poe/image/ElderItemSymbol.png); }
    .poe-item header.shaper .name-left:after,
    .poe-item header.shaper .name-right:after {
      background-image: url(./poe/image/ShaperItemSymbol.png); }
    .poe-item header .name-left,
    .poe-item header .name-right {
      display: block;
      position: absolute;
      top: 0px;
      width: 28px;
      height: 33px; }
    .poe-item header .name-left {
      left: 0px; }
    .poe-item header .name-right {
      right: 0px; }
  .poe-item.normal header {
    background-image: url(./poe/image/header-normal.png); }
    .poe-item.normal header .name-left {
      background-image: url(./poe/image/header-normal-name-left.png); }
    .poe-item.normal header .name-right {
      background-image: url(./poe/image/header-normal-name-right.png); }
    .poe-item.normal header .item-name {
      color: #c8c8c8; }
      .poe-item.normal header .item-name .lc {
        padding: 7.23428px 30px 7.23428px 30px; }
  .poe-item.normal .separator {
    background-image: url(./poe/image/separator-normal.png); }
  .poe-item.magic header {
    background-image: url(./poe/image/header-magic.png); }
    .poe-item.magic header .name-left {
      background-image: url(./poe/image/header-magic-name-left.png); }
    .poe-item.magic header .name-right {
      background-image: url(./poe/image/header-magic-name-right.png); }
    .poe-item.magic header .item-name {
      color: #8888ff; }
      .poe-item.magic header .item-name .lc {
        padding: 7.23428px 30px 7.23428px 30px; }
  .poe-item.magic .separator {
    background-image: url(./poe/image/separator-magic.png); }
  .poe-item.rare header {
    background-image: url(./poe/image/header-rare.png); }
    .poe-item.rare header.double-line {
      background-image: url(./poe/image/header-rare-double.png); }
      .poe-item.rare header.double-line .item-name .lc {
        padding: 5.18323px 45px 2.59162px 45px; }
    .poe-item.rare header .item-name {
      color: #ffff77; }
      .poe-item.rare header .item-name .lc {
        padding: 7.23428px 30px 7.23428px 30px; }
    .poe-item.rare header .name-left {
      background-image: url(./poe/image/header-rare-name-left.png); }
    .poe-item.rare header .name-right {
      background-image: url(./poe/image/header-rare-name-right.png); }
  .poe-item.rare .separator {
    background-image: url(./poe/image/separator-rare.png); }
  .poe-item.unique header {
    background-image: url(./poe/image/header-unique.png); }
    .poe-item.unique header.double-line {
      background-image: url(./poe/image/header-unique-double.png); }
      .poe-item.unique header.double-line .item-name .lc {
        padding: 5.18323px 45px 2.59162px 45px; }
    .poe-item.unique header .item-name {
      color: #af6025; }
      .poe-item.unique header .item-name .lc {
        padding: 7.23428px 30px 7.23428px 30px; }
    .poe-item.unique header .name-left {
      background-image: url(./poe/image/header-unique-name-left.png); }
    .poe-item.unique header .name-right {
      background-image: url(./poe/image/header-unique-name-right.png); }
  .poe-item.unique .separator {
    background-image: url(./poe/image/separator-unique.png); }
  .poe-item .body {
    font-size: 110%; }
    .poe-item .body .simple {
      color: white; }
    .poe-item .body .augmented,
    .poe-item .body .explicitMod,
    .poe-item .body .implicitMod,
    .poe-item .body .utilityMod {
      color: #8888ff; }
    .poe-item .body .chaos_damage {
      color: #d02090; }
    .poe-item .body .cold_damage {
      color: #366492; }
    .poe-item .body .fire_damage {
      color: #960000; }
    .poe-item .body .lightning_damage {
      color: gold; }
    .poe-item .body .craftedMod {
      color: #b8daf2; }
    .poe-item .body .enchantmentMod {
      color: #b8daf2; }
