section.item {
  display: inline-block;
  position: relative;

  .edit-item {
    position: absolute;
    top: 0px;
    right: -5em;
  }

  .generators {
    display: flex;
    button.btn {
      padding: 2px 1px;
      min-width: 30px;
      margin-top: 0px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
